{% extends "layout.html" %}
{% block conteudo %}
<center>
<h1 class="display-4"><img src="https://cdn.pixabay.com/photo/2014/04/03/00/39/paw-prints-308974__340.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy"> Adoção Online<img src="https://cdn.pixabay.com/photo/2014/04/03/00/39/paw-prints-308974__340.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy"></h1>
</center>
<div class="jumbotron">

 <head>
  <body>
    <div class="card">
      <center>
      <img src="https://cdn.pixabay.com/photo/2016/06/28/18/04/animals-1485100__340.png" class="rounded float-left" alt="...">
        <img src="https://cdn.pixabay.com/photo/2016/06/28/18/04/animals-1485100__340.png" class="rounded float-right" alt="...">
  <div class="card-body">
    <h3 class="card-title">Acesse Já!</h3>
    <p class="card-text">Adote seu bixinho de estimação aqui! Aproveite e visite nossa loja para presentear seu novo amiguinho!</p>
    <p><img src="https://cdn.pixabay.com/photo/2013/07/12/14/06/arrows-147753__340.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy"></p>
    <a href="http://evelinemaria19.pythonanywhere.com/about" class="btn btn-primary">Acessar!</a>
  </div>
</div>
       </center>

  </body>
 </head>

</div>
{% endblock %}

