<!-- Topo do site(navbar), onde tem os atalhos para navegar pelo site -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://evelinemaria19.pythonanywhere.com/contact">Página Principal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://evelinemaria19.pythonanywhere.com/loja">Loja Pet<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://evelinemaria19.pythonanywhere.com/serv">Serviços</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Notícias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://evelinemaria19.pythonanywhere.com/post">Encontrados</a>
          <a class="dropdown-item" href="http://evelinemaria19.pythonanywhere.com/posts">Desaparecidos</a>
        </div>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="http://evelinemaria19.pythonanywhere.com/home">Sair</a>
        </li>
    </ul>
  </div>
</nav>

<!-- Logomarca com titulo do site -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><h1 class="display-4">
      <img src="https://img.joyz.me/profile/b7df7adb-318e-4911-8e76-f03f3d7b662e.png" width="70" height="64" class="d-inline-block align-top">
       Pet Shop
       </h1></a>
    </div>
</nav>
<p></p>
<p></p>

<!-- Aqui fica todos os produtos para a venda -->
{% extends "layout.html" %}
{% block conteudo %}
<head>
    <body>
        <center>
        <div class="card">
          <div class="card-deck">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2020/05/16/01/18/dog-toys-5175628__340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Brinquedos para Cães</h5>
              <p class="card-text">Leve para seu bixinho um presente perfeito e que o deixe feliz. Uma bolinha especial para alegrar seu cãozinho.</p>
              <p class="card-text"><small class="text-muted">brinquedos por:</small></p>
              <h5><p class="text-danger">R$ 24,90</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2015/09/03/09/01/cat-920190_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Brinquedos para Gatos</h5>
              <p class="card-text">Leve para seu amiguinho um presente especial. Uma pelúcia de brinquedo para enganar seu gatinho e deixa-lo muito feliz.</p>
              <p class="card-text"><small class="text-muted">brinquedos por:</small></p>
              <h5><p class="text-danger">R$ 22,49</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
          <div class="card">
            <img src="https://images-americanas.b2w.io/produtos/01/00/img/1254706/0/1254706097_1GG.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Brinquedos para Aves</h5>
              <p class="card-text">Deixe sua Ave contente com um brinquedo cheio de surpresas. Leve muita diversão para sua Ave alada.</p>
              <p class="card-text"><small class="text-muted">Brinquedos por:</small></p>
              <h5><p class="text-danger">R$ 48,90</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
        </div>
        <p></p>
        <div class="card-deck">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2019/06/10/18/45/welsh-corgi-pembroke-4264957__340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Brinquedos para Cães</h5>
              <p class="card-text">Leve para seu bixinho um presente perfeito e que o deixe feliz. Uma bolinha especial para alegrar seu cãozinho.</p>
              <p class="card-text"><small class="text-muted">brinquedos por:</small></p>
              <h5><p class="text-danger">R$ 24,90</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2020/04/02/08/53/cat-4994140_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Brinquedos para Gatos</h5>
              <p class="card-text">Leve para seu amiguinho um presente especial. Uma pelúcia de brinquedo para enganar seu gatinho e deixa-lo muito feliz.</p>
              <p class="card-text"><small class="text-muted">brinquedos por:</small></p>
              <h5><p class="text-danger">R$ 22,49</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
          <div class="card">
            <img src="https://ae01.alicdn.com/kf/HTB1DvyjG4SYBuNjSspjq6x73VXaT/Parafusos-de-madeira-natural-balan-o-brinquedo-p-ssaros-pendurado-gaiola-com-contas-coloridas-sinos-brinquedos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Brinquedos para Aves</h5>
              <p class="card-text">Deixe sua Ave contente com um brinquedo cheio de surpresas. Leve muita diversão para sua Ave alada.</p>
              <p class="card-text"><small class="text-muted">Brinquedos por:</small></p>
              <h5><p class="text-danger">R$ 48,90</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
        </div>
        <div class="card-deck">
          <div class="card">
            <img src="https://cf.shopee.com.br/file/8d4c7e9d4006bbc03aa834fb57046d6c" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roupinhas para Cães</h5>
              <p class="card-text">Leve para seu bixinho um presente perfeito e que o deixe feliz. Uma Roupinha estilosa para alegrar seu cãozinho.</p>
              <p class="card-text"><small class="text-muted">Roupinhas por:</small></p>
              <h5><p class="text-danger">R$ 37,90</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
          <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/0054/4997/3806/products/product-image-1274089862_1024x1024.jpg?v=1584076908" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roupinhas para Gatos</h5>
              <p class="card-text">Leve para seu bixinho um presente perfeito e que o deixe feliz. Uma Roupinha estilosa para alegrar seu felino.</p>
              <p class="card-text"><small class="text-muted">Roupinhas por:</small></p>
              <h5><p class="text-danger">R$ 39,49</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
          <div class="card">
            <img src="https://54330.cdn.simplo7.net/static/54330/sku/thumb_roupas-colete-para-coelho--p-1588968412384.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roupinhas para Coelhos</h5>
              <p class="card-text">Leve para seu bixinho um presente perfeito e que o deixe feliz. Uma Roupinha estilosa para alegrar seu amiguinho.</p>
              <p class="card-text"><small class="text-muted">Roupinhas por:</small></p>
              <h5><p class="text-danger">R$ 41,90</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
        </div>
        <p></p>
        <div class="card-deck">
          <div class="card">
            <img src="https://static3.tcdn.com.br/img/img_prod/719253/roupa_para_cachorro_pulover_pickorruchos_coat_703_1_20200620164817.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roupinhas para Cães</h5>
              <p class="card-text">Leve para seu bixinho um presente perfeito e que o deixe feliz. Uma Roupinha estilosa para alegrar seu cãozinho.</p>
              <p class="card-text"><small class="text-muted">Roupinhas por:</small></p>
              <h5><p class="text-danger">R$ 37,90</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
          <div class="card">
            <img src="https://cdn.awsli.com.br/600x1000/31/31979/produto/29119783/c27b6209c2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roupinhas para Gatos</h5>
              <p class="card-text">Leve para seu bixinho um presente perfeito e que o deixe feliz. Uma Roupinha estilosa para alegrar seu felino.</p>
              <p class="card-text"><small class="text-muted">Roupinhas por:</small></p>
              <h5><p class="text-danger">R$ 39,49</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
          <div class="card">
            <img src="https://1.bp.blogspot.com/-6J-nQh0f4ak/TyWp14SThMI/AAAAAAAAAWI/o_m-OJW96lw/s1600/cute-rabbit-1l7pspn.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roupinhas para Coelhos</h5>
              <p class="card-text">Leve para seu bixinho um presente perfeito e que o deixe feliz. Uma Roupinha estilosa para alegrar seu amiguinho.</p>
              <p class="card-text"><small class="text-muted">Roupinhas por:</small></p>
              <h5><p class="text-danger">R$ 41,90</p></h5>
              <a href="http://evelinemaria19.pythonanywhere.com/compr" class="btn btn-danger">Comprar!</a>
            </div>
          </div>
        </div>
        <p></p>
       </center>
    </body>
</head>
<p></p>
<p></p>
<p></p>

<!-- Aqui fica a parte onde o usuario entra nos serviços do site -->
<center>
    <img src="https://portalcoroado.com.br/home/wp-content/uploads/2018/08/patinhas-do-bem.jpg" width="250" height="210" class="rounded float-left" alt="...">
    <img src="https://portalcoroado.com.br/home/wp-content/uploads/2018/08/patinhas-do-bem.jpg" width="250" height="210" class="rounded float-right" alt="...">
    <div class="card text-white bg-dark mb-3" style="max-width: 35rem;">
        <div class="card-body">
          <h4 class="card-title">Experimente!</h4>
            <p class="card-text">Adote aqueles animais que não tiveram a sorte de ter um lar! Dê a seu animalzinho o melhor tratamento!</p>
            <p><img src="https://cdn.pixabay.com/photo/2013/07/12/14/06/arrows-147753__340.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy"></p>
            <a href="http://evelinemaria19.pythonanywhere.com/serv" class="btn btn-primary">Acessar!</a>
        </div>
    </div>
</center>

{% endblock %}


