<nav class="navbar navbar-expand-lg navbar-white bg-dark">
  <a class="navbar-brand" href="http://evelinemaria19.pythonanywhere.com/contact">Página Principal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://evelinemaria19.pythonanywhere.com/loja">Loja Pet<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://evelinemaria19.pythonanywhere.com/serv">Serviços</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Notícias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://evelinemaria19.pythonanywhere.com/post">Encontrados</a>
          <a class="dropdown-item" href="http://evelinemaria19.pythonanywhere.com/posts">Desaparecidos</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% extends "layout.html" %}
{% block conteudo %}

<h1 class="display-4"><img src="https://cdn.pixabay.com/photo/2014/04/03/00/39/paw-prints-308974__340.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy"> Animais Encontrados<img src="https://cdn.pixabay.com/photo/2014/04/03/00/39/paw-prints-308974__340.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy"></h1>
<div class="jumbotron">
    <head>
  <body>
    <div class="card">
      <center>

      <div class="card-deck">
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2015/03/26/09/54/pug-690566__340.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ENCONTRADO Plutos</h5>
      <p class="card-text">Plutos foi encontrado na rua em condições de fome. O animalzinho também tem HETEROCROMIA, a famosa condição em que os olhos tem cores diferentes. Graças ao nosso abrigo, hoje ele brinca com todos seus amiguinhos animais a procura de uma família. </p>
      <p class="card-text"><small class="text-muted">Encontrado dia 15 de Setembro de 2020.</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2016/02/19/15/46/dog-1210559__340.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ENCONTRADO Boby</h5>
      <p class="card-text">Boby ainda filhote, foi encontrado em um terreno baldio onde sofria violência pelos seus antigos donos. Nosso abrigo o encontrou, hoje ele está alegre e a procura de uma família que ame-o de verdade.</p>
      <p class="card-text"><small class="text-muted">Encontrado dia 23 de Agosto de 2020.</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2016/01/05/17/51/dog-1123016__340.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ENCONTRADA Nala</h5>
      <p class="card-text">Nossa queridinha Nala, é uma cadelinha que foi encontrada récem-nascida a beira de uma estrada. A mãe da cadelinha foi encontrada no lixo próximo de onde Nala estava. Hoje nossa cadelinha está a espera de uma família.</p>
      <p class="card-text"><small class="text-muted">Encontrada dia 30 de Julho de 2020.</small></p>
    </div>
  </div>
</div>
<p></p>
<div class="card-deck">
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2015/09/09/19/41/cat-932846__340.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ENCONTRADO Plutos</h5>
      <p class="card-text">Plutos foi encontrado na rua em condições de fome. O animalzinho também tem HETEROCROMIA, a famosa condição em que os olhos tem cores diferentes. Graças ao nosso abrigo, hoje ele brinca com todos seus amiguinhos animais a procura de uma família. </p>
      <p class="card-text"><small class="text-muted">Encontrado dia 15 de Setembro de 2020.</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2016/03/09/15/21/dog-1246610__340.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ENCONTRADO Boby</h5>
      <p class="card-text">Boby ainda filhote, foi encontrado em um terreno baldio onde sofria violência pelos seus antigos donos. Nosso abrigo o encontrou, hoje ele está alegre e a procura de uma família que ame-o de verdade.</p>
      <p class="card-text"><small class="text-muted">Encontrado dia 23 de Agosto de 2020.</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2017/08/01/09/04/dog-2563759__340.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ENCONTRADA Nala</h5>
      <p class="card-text">Nossa queridinha Nala, é uma cadelinha que foi encontrada récem-nascida a beira de uma estrada. A mãe da cadelinha foi encontrada no lixo próximo de onde Nala estava. Hoje nossa cadelinha está a espera de uma família.</p>
      <p class="card-text"><small class="text-muted">Encontrada dia 30 de Julho de 2020.</small></p>
    </div>
  </div>
</div>
       </center>

  </body>
 </head>

</div>
{% endblock %}